<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>masilbut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C8FF49A1E1F7668007ADF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C8FF4AE1E1F7668007ADF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C8FF4B91E1F7668007ADF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
